.flex {
  display: flex;
  padding-top: 100px;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
}
@media (max-width: 700px) {
  .flex {
    justify-content: center;
  }
}

.add {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add:hover {
  background-color: #ff5722;
  color: white;
}

.quizCard {
  width: 275px;
  height: 250px;
  margin: 20px;
  cursor: pointer;
}
.add,
.quizCard h5 {
  user-select: none;
}
